.buttonContainer{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
/* Adjust the styles as needed */
.custom-confirm-button {
    background-color: green;
    color: white;
    line-height: 0;
    /* Add any other styles you need */
  }
  
  .custom-deny-button {
    background-color: red;
    color: white;
    line-height: 0;
    /* Add any other styles you need */
  }
  
  .swal2-confirm{
    line-height: 0;
  }